{% extends 'base.html' %}
{% block title %}
MarketPage
{% endblock %}

{% block content %}
{% include 'includes/items_modals.html' %}
<div class="row" style="margin-top: 20px; margin-left: 20px">
    <div class="col-8">
        <h2>Available Items in the market</h2>
        <p>click on one of the items to start Buying</p>
        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Barcode</th>
                <th scope="col">Price</th>
                <th scope="col">Options</th>

            </tr>
            </thead>
            <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in items %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.barcode}}BB</td>
                <td>{{item.price}}INR</td>
                <td>
                    <button class="btn btn-outline btn-info" data-toggle="modal" data-target="">More Info</button>
                    <button class="btn btn-outline btn-success">Purchase This</button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <h2>Owned Items in the cart</h2>
        <p>click on sell to put the item back in market</p>
    </div>
</div>
</div>

{% endblock %}