{% extends 'base.html' %}
{% block title %}
RegisterPage
{% endblock %}
{% block content %}
<body class="text-center">
<div class="container">
    <div class="form-group row">
        <form method="POST" class="form-register" style='color:white'>

            {{ form.hidden_tag()}}
            <img class="mb-4"
                 src="https://res.cloudinary.com/finbyte/image/upload/v1620749802/Manish/finbyte_hxeaqt.png"
                 alt="">
            <br>
            <h1 class="h3 mb-3 font-weight-normal">
                Please Create your Account
            </h1>
            <br>

                {{ form.username(class='form-control',placeholder='User Name') }}


            {{ form.email(class='form-control',placeholder='Email') }}


            {{ form.password1(class='form-control',placeholder='Password') }}


            {{ form.password2(class='form-control',placeholder='Confirm Password') }}
            <br>
            {{ form.submit(class = "btn btn-lg btn-block btn-primary")}}
            <br>
            <div class="checkbox mb-3">
                <h6>Already have an account? </h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}"> Login </a>
            </div>

        </form>
    </div>
</div>
</body>
{% endblock %}